{% set canExport = currentUser.can('variant-manager:export') %}
<fieldset>
	<legend class="h6">{{ 'Variant Manager'|t('variant-manager') }}</legend>
	<div class="meta">
		<div class="field">
			<div class="input ltr">
				<button
					type="button"
					{% if not canExport %}disabled{% endif %}
					class="btn download icon js-variant-manager-export {% if not canExport %}disabled{% endif %}"
					data-icon="download"
					data-product-id="{{ product.id }}"
					data-export-url="{{ cpUrl('variant-manager/export') }}"
				>
					{{ 'Export Product'|t('variant-manager') }}
				</button>
			</div>
		</div>
	</div>
</fieldset>
