

#upload-modal {

	background-color: rgba(123, 135, 147, 0.7) !important;

}


.modal-wrapper {

	display: grid;
	place-items: center;
	min-height: 100vh; height: 100vh; max-height: 100vh;

}

#modal {

	position: relative;
	height: auto;
	

}